/* General ---------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
font-family: 'Roboto', sans-serif;
}

body{
    background: url('../images/bg.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

/* Form Page (index.html) ---------- */

.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form{
max-width: 550px;
margin: 0 auto;
background: rgb(0, 0, 0, 0.8);
padding: 30px;
border-radius: 5px;
display: flex;
box-shadow: 0 0 10px rgb(0, 0, 0, 0.13);
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields, 
.msg{
    width: 48%;
}

.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5efcd;
    color: #c5efcd;
    width: 100%;
}

.msg textarea{
    height: 247px;
}

::-webkit-input-placeholder{
    color: #c5efcd;
}


::-moz-input-placeholder{
    color: #c5efcd;
}


::-ms-input-placeholder{
    color: #c5efcd;
}

.btn{
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    border: none;
}

@media screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }

    .msg textarea{
        height: 80px;
    }

    .input-fields,
    .msg{
        width: 100%;
    }
}

option{
    background-color: rgb(0, 0, 0, 0.9);
}

.choose-file label{
    display: block;
    border: 2px dashed #fff;
    padding: 15px;
    margin: 10px;
    width: calc(100% - 20px);
    text-align: center;
    cursor: pointer;
}


.choose-file #choose-file{
    outline: none;
    width: 0%;
    opacity: 0;
    cursor: pointer;
}

.choose-file span{
    font-size: 14px;
    color: #c5efcd;
}

/* Summary Page (Success.html) ---------- */

.wrapper-success{
    background-color: rgb(0, 0, 0, 0.8);
   margin: 50px 20% 20px 20%;
   border-radius: 5px;
   text-align: center;
   padding-bottom: 20px;
}

.wrapper-success h4{
    color: greenyellow;
    padding: 20px;
}

.wrapper-success img{
    margin: 20px;
    border-radius: 50%;
}

.titles{
    color: #fff;
    margin: 10px;
}

.entries{
    color: #c5efcd;
}