Flask==2.3.2
Flask-Cors==3.0.9
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.1
Werkzeug==0.15.3
gunicorn==19.9.0
Click==7.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
psycopg2==2.8.5
boto3==1.14.21



