<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>

    <link href="../static/stylesheets/style.css" rel="stylesheet" />

</head>


<body>

    <div class="wrapper">

        <form method="POST" action="/" enctype=multipart/form-data> <div class="contact-form">

            <div class="input-fields">
                
                <h3 style="color: white;">Something went wrong!</h3>
                <br>
                <br>
                <p style="color: white;">{{ log }}</p>
    </div>

</body>


</html>