<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>

    <link href="../static/stylesheets/style.css" rel="stylesheet" />

</head>


<body>

    <div class="wrapper">

        <form method="POST" action="/" enctype=multipart/form-data> <div class="contact-form">

            <div class="input-fields">
                

                <img src="{{ my_user.img_link }}" class="rounded-circle"  width="150" height="150"/>
             

                <p class="titles">Name:</p>
        <p class="entries">{{ my_user.username }}</p>
        <p class="titles">Email:</p>
        <p  class="entries">{{ my_user.email }}</p>

        <p class="titles">Contact Number:</p>
        <p  class="entries">{{ my_user.number }}</p>

      


            </div>

            <div class="msg">
                <p class="titles">Street:</p>
        <p  class="entries">{{ my_user.street }}</p>

        <p class="titles">City:</p>
        <p  class="entries">{{ my_user.city }}</p>

        <p class="titles">State:</p>
        <p  class="entries">{{ my_user.state}}</p>

        <p class="titles">Zip Code:</p>
        <p  class="entries">{{ my_user.zip }}</p>

        <p class="titles">Your Feedback:</p>
        <p class="entries" >{{ my_user.feedback }}</p>
            </div>
    </div>
    </form>
    </div>

</body>


</html>